<header>
    <nav class="nav-menu">
        <img class="nav-logo" src="images/app/LogoBrokerTosi.jpeg" alt="logo">
        <button class="open-menu" id="open-menu"><i class="bi bi-list"></i></button>
        <ul class="nav-list" id="nav-list">
            <button class="close-menu" id="close-menu"><i class="bi bi-x"></i></button>
            <li class="nav-item"><a class="nav-link" href="#inicio">Inicio</a></li>
            <li class="nav-item"><a class="nav-link" href="#quienessomos">Servicios</a></li>
            <li class="nav-item"><a class="nav-link" href="#novedades">Propiedades</a></li>
            <li class="nav-item"><a class="nav-link" href="#cursos">Requisitos para Alquilar</a></li>
            
        </ul>
    </nav>
</header>